.header {
    background: #F4751E;
    height: 50px;
    display: flex;
    flex-direction: row;

    align-items: center;
}

.header img {
    height: 100%;
    width: auto;
    padding: 0 15px;
}

.menu a:hover,
.menu a:active,
.menu a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
}
