{
    "presets": [
        ["env", {
            "targets": {
                "browsers": ["last 5 chrome versions"]
            }
        }]
    ],
    "plugins": [
        ["transform-object-rest-spread"],
        ["transform-class-properties", { "spec": false }],
        ["syntax-dynamic-import"]
    ]
}
